AIRFLOW_UID=50000

POSTGRES_CONN_USERNAME=airflow
POSTGRES_CONN_PASSWORD=CHANGE_ME
POSTGRES_CONN_HOST=postgres
POSTGRES_CONN_PORT=5432

METADATA_DATABASE_NAME=airflow
METADATA_DATABASE_USERNAME=airflow
METADATA_DATABASE_PASSWORD=CHANGE_ME

CELERY_BACKEND_NAME=airflow
CELERY_BACKEND_USERNAME=airflow
CELERY_BACKEND_PASSWORD=CHANGE_ME

ELT_DATABASE_NAME=youtube
ELT_DATABASE_USERNAME=airflow
ELT_DATABASE_PASSWORD=CHANGE_ME

FERNET_KEY=GENERATE_A_FERNET_KEY

AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=CHANGE_ME

API_KEY=YOUR_YOUTUBE_API_KEY
CHANNEL_HANDLE=@YOUR_CHANNEL